# Line Bot 設定
LINE_CHANNEL_ACCESS_TOKEN=eKrKvIpvPk8ohI8UzSVMFc8OXUJjuW4UHBmrj21KaCc4IjY75BF8c75WIHujwSA+bkE+kkWf2sHfp22m3cVSJGRp4F2PaBVW2Uz31xaMJcuYZcbWsQtwqmVw2+kF0iMcfAM4NkbZ8svN+b/ryY5z9wdB04t89/1O/w1cDnyilFU=
LINE_CHANNEL_SECRET=40a21e3cb7d58767fa56852e4526a81b

# LLM API 設定 (選擇其中一個或全部設定)
OPENAI_API_KEY=your_openai_api_key_here
GEMINI_API_KEY=your_gemini_api_key_here
CLAUDE_API_KEY=your_claude_api_key_here

# 伺服器設定
PORT=3000 